# Artefactos de compilación LaTeX/LyX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.bbl
*.blg
*.bcf
*.run.xml
*.synctex.gz
*.fls
*.fdb_latexmk
# .tex generados por LyX al exportar/compilar
*.tex
main.pdf
main.pdf-1
*.lyx~